.header {
    border: 5px solid black;
    border-color: #3e362e;
    border-style: double;
    border-radius: 10px;
    width: 250px;
    color: white;
    background-color: #865d36;
    text-align: center;
    font-style: oblique;
    font-family: 'Times New Roman', Times, serif;
}
.text_a {
    text-align: left;
    color: white; 
    position: absolute;
    padding: 10px 15px;
    background: #ad7947;
    background-size: contain;
    font-size: 25px;
    width: 80%;
    margin-left: 8%;
}
.about_me {
    background-image: url("images.portfolio/alt_aboutme_bcg.jpg");  
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 100%;
    margin: 0;
    height: 90%;
}
body {
    font-size: 24px;
    background-image: url("images.portfolio/bcg.webp");
}
