.header {
    border: 5px solid black;
    border-color: #3e362e;
    border-style: double;
    border-radius: 10px;
    width: 250px;
    color: white;
    background-color: #93785b;
    text-align: center;
    margin: auto;
}
.aboutme_hr {
    border-color: #93785b;
}
.text_a {
    text-align: left;
    color: white; 
    position: absolute;
    padding: 10px 15px;
    background: #ac8968;
    background-size: contain;
    font-size: 25px;
    width: 80%;
    margin-left: 8%;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-style: italic;
}
.about_me {
    background-image: url("images.portfolio/aboutme_bcg.jpg");  
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 100%;
    margin: 0;
    height: 100%;
    border: 5px solid burlywood;
    border-style: groove;
}

