.logo {
    height: 50px;
    background-color: #3e362e;
    margin-left: .5%;
}
.PM {
    position: absolute;
    left: 5%;
    margin: 0;
    padding-top: 1%;
    font-size: 40px;
    color: white;
    background-color: transparent;
    top: 0;
    
}
.LP {
    border: 1px solid  transparent;
    border-color: #3e362e;
    border-width: 0 0 1px;
    top: 0;
}
ul {
    position: absolute;
    top: 1%;
    right: 0px;
    background-color: transparent;
    list-style: none;
    margin: 0;
    padding: 0;

}
li {
    margin-right: 0px;
    float: right;
}
li a {
    text-decoration: none;
    color: white;
    font-size: 20px;
    display: block;
    text-align: center;
    padding: 14px 16px;
}
li a:hover {
    background-color: #3e362e;
    text-decoration: overline;
}
.head {
    width: 100%;
    background: url("images.portfolio/HI-background.png");
    height: 80%; 
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 100%;
    background-attachment:initial; 
    background-clip: border-box;
    border-radius: 5px;
    
}
.head-text {
    color: white; 
    text-align: center;
    background: #ac8968;
    margin: 30px 200px;
    font-size: 50px;
    font-style: italic;
    position: absolute; 
    top: 35%;
    left: 9%;
    font-family: 'fantasy';
}
.home_hr {
    border-color: #a69080;
}
.begin {
    height: 100%;
    display: flex;
    border: 10px solid brown;
    border-color: #3e362e;
    border-radius: 25px;
}
.begin-text {
    font-size: 40px;
    color: white;
    width: 100%;
    background-color: #ac8968;
    text-align: left;
    padding: 60px 20px;
    align-items: center;
    border-radius: 3px;
}
.my-pic {
    display: block;
    width: fit-content;
    border: 5px, solid white;
    border-color: #a69080;
    border-radius: 4px;
}
.LM_b {
    width: 90px;
    position: absolute; 
    margin-top: 5%;
    height: 50px;
    background-color: #ac8968;
    color: black;
}
body {
    background-image: url("images.portfolio/port_bcg.webp");
    font-size: 25px;
}
.footer {
    margin-top: 5%;
    background-color: #3e362e;
    align-items: center;
    padding: 10px;
    height: 70px;
    color: white;
    font-size: 20px;
}
.whole_f {
    display: flex; 
    justify-content: space-between;
}
.foot_hr {
    border-color: #ac8968;
    width: 100%;
}
.github {
    height: 50px;
    width: 50px;
    border-radius: 27px;
    
}
.linkedin {
    height: 50px;
    width: 50px;
    border-radius: 10px;
    
}
