.proj {
    border: 5px solid brown;
    border-style: groove;
    border-color: #865d36; 
    width: 330px;
    background-color: #a69080;
    text-align: center;
    background-position: center;
    margin: auto;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-style: italic;
}
.my_works {
    backdrop-filter: blur(5px);
    -webkit-text-fill-color: inherit;
    background-color: #ac8968;
    background-image: none;
    background-size: auto;
    background-clip: border-box;
    flex-flow: column;
    justify-content: space-between;
    display: flex;
    overflow: visible;
}
.game {
    -webkit-text-fill-color: inherit;
    background-color: #a69080;
    background: url("images.portfolio/Projects/Final Days.png");
    background-position: 100%;
    background-repeat: no-repeat;
    background-size: cover; 
    background-attachment: fixed; 
    background-clip: border-box;
    flex: 1;
    display: block;
    width: 100%;
}
.game-section {
    height: 100vh;
    object-fit: fill;
    background-color: #ac8968;
    opacity: .85;
    display: block;
    justify-content: left;
    width: 50%;
    float: right;
}
.game-text {
    z-index: 20;
    flex-direction: column;
    align-items: flex-start;
    display: flex;
    position: relative;
    color: black; 
    padding-left: 5%;
    padding-top: 8%;
    stop-opacity: initial;
    font-weight: 100;
    font-family: cursive;
}
.game_link{
    color: black;
}
.game-bcg {
    height: 95x;
    object-fit: fill;
    background-color: rgba(255, 253, 253, 0);
    display: block;
    width: 50%;
    justify-content: right;
}
.WFC {
    -webkit-text-fill-color: inherit;
    background-color: #a69080;
    background: url("images.portfolio/Projects/Gun violence.png");
    background-position: 100%;
    background-repeat: no-repeat;
    background-size: cover; 
    background-attachment: fixed; 
    background-clip: border-box;
    flex: 1;
    display: block;
    width: 100%;
}
.WFC-section {
    height: 100vh;
    object-fit: fill;
    background-color: #ac8968;
    opacity: .8;
    display: block;
    float: left;
    justify-content: left;
    width: 50%;
}
.WFC-text {
    z-index: 20;
    flex-direction: column;
    align-items: flex-start;
    display: flex;
    position: relative;
    color: black;
    padding-left: 5%;
    padding-top: 10%;
    font-weight: 100;
    font-family: cursive;
}
.WFC_link{
    color: black;
}
.WFC-bcg {
    height: 50px;
    object-fit: fill;
    background-color: rgba(255, 253, 253, 0);
    display: block;
    width: 50%;
    justify-content: right;
}
.WFC_hr {
    border-color: #865d36;
}
.head_hr {
    border-color: #865d36;
}
.header {
    border: 5px groove brown;
    border-color: #865d36;
    text-align: center;
    width: 300px;
    margin: auto;
}
.skills {
    display: block;
}
.box_C {
    display: flexbox;
    justify-content: space-evenly;
    box-sizing: border-box;
}
.box_E {
    display: flexbox;
    justify-content: space-evenly;
    box-sizing: border-box;
    
}
img {
    background: transparent;
} 
